
/*==
Useful for testing layout. This applies helper labels to elements on your page. Default setting pulls the class name, but you can target any HTML attribute. 
example use only targeting the attr type and leaving the rest default: @include debug-labels($attr-type: attr(data-content));
==*/
@mixin layout-labels($attr-type: attr(class), $debug-font-size: 1em, $debug-color: black, $debug-bg-color: yellow){
	&:after{
		content: $attr-type;
		font-size: $debug-font-size;
		font-family: serif;
		color: $debug-color;
		padding: 0.25em;
		background-color: $debug-bg-color;
	}
}

/*==
Firefox image hover wiggle bug.
Appropriate in the reset.
==*/
.stop-shakira{
	-moz-backface-visibility: hidden;
}

/*==
Easy ellipsis
==*/
.ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.is-visually-hidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.is-visually-hidden.focusable:active, 
.is-visually-hidden.focusable:focus { 
	clip: auto; 
	height: auto; 
	margin: 0; 
	overflow: visible; 
	position: static; 
	width: auto; 
}

/* Hide text only */
.hidden-text{
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

/* Hide completely, including from screen-readers */
.is-completely-hidden { display: none; }

/*==========================================
Mixin for middle text alignment
==========================================*/

@mixin text-vert-align($line-height){
	display: inline-block;
	vertical-align: middle;
	line-height: $line-height;
}

@mixin text-bottom-align($line-height){
	display: inline-block;
	vertical-align: bottom;
	line-height: $line-height;
}


/*==========================================
Centering absolutely positioned things
==========================================*/
@mixin centered-blocks($positioned-type: absolute, $left-value: 50%, $top-value: 50%, $horz-value: -50%, $vert-value: -50){
	position: $positioned-type;
	left: $left-value;
	top: $top-value;
	transform:translate($horz-value, $vert-value);
	-webkit-transform: translate($horz-value, $vert-value);
	-ms-transform: translate($horz-value, $vert-value);
}

.vertically-centered{
	@include centered-blocks($left-value: 0, $horz-value: 0);
}

.horizontally-centered{
	@include centered-blocks($top-value: 0, $vert-value: 0);
}

/*===============================================================
Hide the browser's addition of spinner controls on number fields
Ideally, this would be in the reset
===============================================================*/
input[type=number] { 
	-moz-appearance:textfield; 
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
